body{
  background-color:#045185 !important;
  color:#F4F7DC !important;
}

h2{
  font-size:25px !important;
  text-align:center;
  margin-bottom:30px !important;
}

.ptitle{
  text-align:center;
  margin-bottom:10px;
}

.psubtitle{
  text-align:center;
  margin-bottom:30px;
}

.pmenu{
  margin-top:20px;
  margin-bottom:40px;
}

.col{
  padding-right:1px !important;
  padding-left:1px !important;
}

.searchbtn{
  position:absolute;
  bottom:5px;
}

.searchbtn button{
  color: #000 !important;
}

.bottom_btn{
  position:absolute;
  bottom:0px;
}

.top_btn{
  position:absolute;
  top:5px;
}

button{
  width:90%;
}

.resultbox{
  margin-left:1px !important;
  margin-right:0px !important;
  margin-top:20px !important;
  background-color:#eee !important;
  color:#000 !important;
}

.resultbox table{
  color:#000 !important;
}

.editbox{
  margin-top:20px;
  margin-left:5px !important;
  margin-right:0px !important;
  padding-top:20px;
}

.editbox input{
  margin-left:2px;
  margin-right:1px;
  margin-bottom:10px;
  width:100%;
}

.confirmation{
  font-size:20;
  font-family:"Arial Black", Gadget, sans-serif;
}

.success{
  background-color:azure;
  text-align:right;
  padding-right:100px;
  padding-top:20px;
}

#warn{
  padding-left:40px;
}

.lateloan{
  background-color:red !important;
}

#loginform form ul li label{
  color: black !important;
}

#loginform form ul li input{
  color: black !important;
}

.ui-dialog-buttonset{
  width:350;
}

.ui-dialog-buttonset button{
  display: inline;
  width: unset;
}

.reserved{
  background-color: #afa !important;
}